@charset "utf-8";
@forward "bulma/bulma";
@forward "bulma/sass/_index";

body {
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
}

a {
  text-decoration: none;
}
